In [21]:
import pandas as pd
import sqlite3
con = sqlite3.connect('data/cache.db')

# occupations table
occ = pd.read_sql("SELECT preferredLabel,altLabels,description FROM occupations",con)

# tag table
tags = pd.read_sql("SELECT occupation_title,occupation_id,labeler_id,task_id FROM tags",con)

# task dat table 
tasks = pd.read_sql("SELECT project_name,_id,title,description FROM task_data",con)

In [22]:
tags

,occupation_title,occupation_id,labeler_id,task_id
0,warehouse worker,2260,61dd9b0da33565ec1ce31aa0,61dd90f7ce271774889fbc03
1,warehouse order picker,2426,61dd9b0da33565ec1ce31aa0,61dd90f7ce271774889fbc03
2,sales assistant,1864,61dda30da33565ec1ce31aab,61dde40c527776b760a85fa0
3,sales assistant,1864,61dd9effa33565ec1ce31aa2,61dde40c527776b760a85fa0
4,sales support assistant,1111,61dd9effa33565ec1ce31aa2,61dde40c527776b760a85fa0
...,...,...,...,...
6579,Motorista de troleicarros,701,620e2c8a164cf5869c1d9194,620c584131c2e695f2d26944
6580,Analista de política fiscal,2127,620e2c8a164cf5869c1d9194,620c584131c2e695f2d26945
6581,Consultor fiscal/Consultora fiscal,1077,620e2c8a164cf5869c1d9194,620c584131c2e695f2d26945
6582,Cozinheiro dietista/Cozinheira dietista,1854,620e2c8a164cf5869c1d9194,620c584131c2e695f2d26949
6583,Técnico de laboratório biomédico/Técnica de la...,562,620e2c8a164cf5869c1d9194,620c584131c2e695f2d2694a

In [36]:
occ = pd.read_sql("SELECT preferredLabel FROM occupations WHERE lang='en'",con)
tasks = tasks.loc[tasks.project_name=='GBR']
df = pd.merge(tasks,tags,left_on='_id',right_on='task_id')
df

,project_name,_id,title,description,occupation_title,occupation_id,labeler_id,task_id
0,GBR,61dde40c527776b760a85fa0,Entry Level Sales Assistant,Are you ready to find a new direction where yo...,sales assistant,1864,61dda30da33565ec1ce31aab,61dde40c527776b760a85fa0
1,GBR,61dde40c527776b760a85fa0,Entry Level Sales Assistant,Are you ready to find a new direction where yo...,sales assistant,1864,61dd9effa33565ec1ce31aa2,61dde40c527776b760a85fa0
2,GBR,61dde40c527776b760a85fa0,Entry Level Sales Assistant,Are you ready to find a new direction where yo...,sales support assistant,1111,61dd9effa33565ec1ce31aa2,61dde40c527776b760a85fa0
3,GBR,61dde40c527776b760a85fa0,Entry Level Sales Assistant,Are you ready to find a new direction where yo...,sales assistant,1864,61dda193a33565ec1ce31aa7,61dde40c527776b760a85fa0
4,GBR,61dde40c527776b760a85fa1,Investment Analyst,Quantum Advisory have an exciting opportunity ...,investment analyst,2176,61dda193a33565ec1ce31aa7,61dde40c527776b760a85fa1
...,...,...,...,...,...,...,...,...
955,GBR,61dde40e527776b760a860c8,Warehouse Operative,Warehouse Operative ( Nights) This is an excel...,warehouse worker,2260,61dd9effa33565ec1ce31aa2,61dde40e527776b760a860c8
956,GBR,61dde40e527776b760a860c8,Warehouse Operative,Warehouse Operative ( Nights) This is an excel...,warehouse worker,2260,61dda193a33565ec1ce31aa7,61dde40e527776b760a860c8
957,GBR,61dde40e527776b760a860c9,MOT Tester,MOT Tester Our client is looking for an MOT Te...,vehicle technician,888,61dda193a33565ec1ce31aa7,61dde40e527776b760a860c9
958,GBR,61dde40e527776b760a860ca,Days Flt Counterbalance driver,Days Flt Counterbalance driver A number of rol...,forklift operator,2756,61dda193a33565ec1ce31aa7,61dde40e527776b760a860ca
959,GBR,61dde40e527776b760a860cb,Night Warehouse Operatives,Extrastaff Maidstone are currently recruiting ...,warehouse worker,2260,61dda193a33565ec1ce31aa7,61dde40e527776b760a860cb

In [38]:
df2 = pd.merge(df,occ,left_on='occupation_title',right_on='preferredLabel',how='inner')
len(df2)/len(df)

0.934375

In [40]:
occ = pd.read_sql("SELECT * FROM occupations WHERE lang='en'",con)